<mat-toolbar>
  <nav>
    <!-- Main Navigation -->
    <span>
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    </span>

    <!-- Register -->
    <span>
      @if(!isLoggedIn()) {
      <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
      }
    </span>

    <!-- Login -->
    <span>
      @if (isLoggedIn()) {
      <span class="user-info"> {{ username() }} ({{ userRole() }}) </span>
      <a mat-button (click)="logout()">Logout</a>

      } @else {
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
      }
    </span>

    <!-- Role-based Navigation -->
    <span>
      @if (isLoggedIn() && isAdmin()) {
      <a mat-button routerLink="/movies" routerLinkActive="active">Admin</a>
      } @if (isLoggedIn() && isUser()) {
      <a mat-button routerLink="/customer" routerLinkActive="active">Customer</a>
      }
    </span>
  </nav>
</mat-toolbar>
